@model IList<RaidEvent>

@if (IsAdmin())
{
    <a asp-action="@nameof(RaidEventController.AddRaidEvent)" asp-controller="@RaidEventController.GetName()"
       class="btn btn-primary mb-3 mt-3" style="width:auto">
        Add
    </a>
}
else
{
    <div class="mt-3"></div>
}

@foreach (var raidEvent in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h3>@raidEvent.Raid.ShortName</h3>
        </div>

        <div class="card-body">
            <h4>Date: @raidEvent.Date.ToShortDateString()</h4>
            <h4>Raid Team: @raidEvent.RaidTeam.Name</h4>
        </div>

        <div class="card-footer">
            <form method="post" asp-controller="@RaidEventController.GetName()" asp-action="@nameof(RaidEventController.DeleteRaidEvent)"
                  asp-route-id="@raidEvent.Id">

                <a asp-controller="@LootController.GetName()" asp-action="@nameof(LootController.ViewLoot)"
                   asp-route-raidEventId="@raidEvent.Id" class="btn btn-primary">View Loot</a>
                
                @if (IsAdmin())
                {
                    <a asp-controller="@LootController.GetName()" asp-action="@nameof(LootController.AddLoot)"
                       asp-route-raidEventId="@raidEvent.Id" class="btn btn-primary ml-1">Add Loot</a>

                    <a asp-controller="@RaidEventController.GetName()" asp-action="@nameof(RaidEventController.EditRaidEvent)"
                       asp-route-id="@raidEvent.Id" class="btn btn-primary ml-1">Edit</a>

                    <button type="submit" class="btn btn-danger ml-1" onclick="return confirm('@string.Format(Strings.AreYouSureYouWantToDelete, "Raid Event")')">Delete</button>
                }
            </form>
        </div>
    </div>
}
